* {
    box-sizing: border-box;
}

#clock {
    color: rgb(255, 98, 0);
    width: 100%;
    text-align: right;
    max-width: 1020px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 60px 0px 60px;
}

body, html {
    height: 100%;
    font-family: 'VT323', monospace;
    font-size: 18pt;
    background-color: black;
    background-image: url("../images/tracks.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    background-position-x: center; 
}

header {
    display: flex;
    margin-top: 5px;
    background-image: url("../images/HeaderBackground-01.png");
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
    align-items: center;    
}

.responsive {
    margin-top: 2px;
    width: 95%;
}

table {
    display: table;
    width: 100%;
    line-height: 220%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 5px;
}

thead {
    font-weight: bold;
    color: white;
    line-height: 150%;
}

tr {
    border-bottom: rgb(250, 98, 4) 1px solid;
}

tbody{
    color: rgb(255, 98, 0);
}

tbody tr:nth-child(odd) {
    background: rgba(250, 98, 4, .2);
}

tbody tr:nth-child(even) {
    background: black;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding: 0px 10px 50px 10px;
    background-color: rgba(0, 0, 0, .7);
}

.row {
    width: 90%;
    color:white;
}

h4 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.formRow {
    display: block;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

input {
    font-family: 'VT323', monospace;
    font-size: 18pt;
    color: rgb(255, 98, 0);
    width: 100%;
    height: 50px;
    margin-top: 7px;
    background-color: rgba(250, 98, 4, .2);
    border-bottom: rgb(250, 98, 4) 1px solid;
    border-top: rgb(250, 98, 4) 1px solid;
    border-right: 0;
    border-left: 0;
}

.leftBlock {
    float: left;
    width: 50%;
    padding-right: 20px;
}

.rightBlock {  
    float: right;
    width: 50%;
    padding-left: 20px;
}

.buttonRow{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

#addTrain {
    font-family: 'VT323', monospace;
    font-size: 18pt;
    border: rgb(199, 70, 0) 1px solid;
    background-color: rgb(255, 98, 0);
    padding: 20px 50px 20px 50px;
}

#addTrain:hover {
    background-color: rgb(67, 27, 0);
    border: rgb(255, 98, 0) 1px solid;
    color: white;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modalContent {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, .7);
    border: rgb(255, 98, 0) 1px solid;
    margin: 60px auto;    
    text-align: center;
}

.message {
    color: rgb(255, 98, 0);
    font-size: 40px;
    font-weight: 200;
}

/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(255, 98, 0);
    font-size: 36px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 840px){
.row {
    padding-right: 0px;
    padding-left: 0px;
}

.leftBlock {
    width: 100%;
    float: none;
    padding: 0;
    }

.rightBlock {
    width: 100%;
    float: none;
    padding: 0;
    }

.buttonRow {
    float: none;
}    

table {
    line-height: 110%;
}

#clock {
    text-align: center;
}

thead {
    line-height: 110%;
}

tr {
    height: 50px;
}

td {
    padding: 0px 5px 0px 5px;
}

}